@model IEnumerable<HW_ASP_9._2.Models.Category>

<h2>Категории</h2>
<ul class="list-group">
    @foreach (var cat in Model)
    {
        <li class="list-group-item">
            <a asp-controller="Category" asp-action="Details" asp-route-id="@cat.Id">@cat.Name</a>
        </li>
    }
</ul>